@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter";
  background: #f1f1f1;
  position: relative;
}

.hide {
  display: none;
}

/* NAVIGATION */

header {
  background: #1a1a1a;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

#responsive-logo {
  display: none;
}

input[type="search"] {
  padding: 0.5rem;
  width: 30rem;
  border-radius: 0.5rem;
  background: #303030;
  border-radius: 0.5rem;
  border: 1px solid #616161;
  color: #b5b5b5;
  font-size: 0.8125rem;
  font-weight: 500;
  outline: none;
}

input[type="search"]:hover {
  border: 1px solid #e1e1e1;
}

input[type="search"]:active {
  border: 1px solid #fff;
}

input[type="search"]:focus {
  border: 1px solid #fff;
}

#merchant-container {
  display: flex;
  justify-content: space-between;
  /* background: orange; */
  /* width: 48.24rem; */
}

#bell {
  align-self: center;
  padding: 0.375rem;
  background: #303030;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

#bell:hover {
  background: #616161;
}

#bell:active {
  background: #656266;
}

#bell:focus {
  /* background: #656266; */
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

#merchant-option {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
}

#merchant {
  display: inline-flex;
  padding: 0.125rem 0.125rem 0.125rem 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #303030;
  border: none;
  cursor: pointer;
}

#merchant:hover {
  background: #616161;
}

#merchant:active {
  background: #656266;
}

#merchant:focus {
  background: #656266;
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

#davii {
  font-size: 0.75rem;
  color: #e3e3e3;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
}

#abbrev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5625rem 0.3125rem 0.625rem 0.3125rem;
  border-radius: 0.375rem;
  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  font-weight: 500;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.main-container {
  width: 50rem;
}

#plan {
  display: flex;
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  border-radius: 0.5rem;
}

#plan p {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  color: #e3e3e3;
}

#select-plan {
  background: #fff;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  padding: 0.38rem 0.75rem;
  cursor: pointer;
}

#select-plan:hover {
  background: #f7f7f7;
}

#select-plan:active {
  background: #f7f7f7;
  box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
}

#select-plan:focus {
  background: #fff;
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #fff,
    0px -1px 0px 0px #b5b5b5 inset;
}

#select-icon {
  border-radius: 0.375rem;
  /* background: transparent; */
  padding: 0.38rem;
  border: none;
}

.container {
  margin-top: 1rem;
  padding: 1.13rem;
  border-radius: 1.125rem;
  border: 1px solid #dbdbdb;
  background: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

#guide {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

#guide-header {
  color: #303030;
  font-weight: 600;
  font-size: 0.8125rem;
}

#personalise {
  margin-top: 0.5rem;
}

#personalise p {
  color: #303030;
  font-size: 0.8125rem;
}

#guide button {
  background: transparent;
  border: 0;
}

#guide button:hover {
  cursor: pointer;
}

#progress-container {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

#progress-count {
  font-size: 0.75rem;
  color: #303030;
}

#bar-1 {
  width: 4.5rem;
  height: 0.25rem;
  background: #e3e3e3;
  margin-top: 0.4rem;
  border-radius: 1.125rem;
}

#bar-2 {
  background: #1a1a1a;
  width: 20%;
  height: 100%;
  border-radius: 1.125rem;
}

.setup-container {
  margin-top: 1rem;
}

.customize, .product, .domain, .store, .provider {
  cursor: pointer;
}

.setup {
  display: flex;
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  align-items: center;
  gap: 6rem;
  align-self: stretch;
  border-radius: 0.625rem;
}

.setup-option {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  position: relative;
}

.setup-text {
  width: 20rem;
  padding-top: 0.3rem;
}

.setup-text p {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #303030;
  margin-bottom: 1rem;
}

.setup-text div {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #616161;
  margin-bottom: 1rem;
  align-self: stretch;
  line-height: 140%;
}

span {
  color: #005bd3;
}

.setup-text button {
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  background: #404040;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  color: #f6f3f6;
  border-top: 1.5px solid var(rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(rgba(255, 255, 255, 0.2));
  cursor: pointer;
}

.setup-text button:hover {
  background: #2a2a2a;
}

.setup-text button:active {
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.setup-text button:focus {
  box-shadow: 0px 0px 0px 5px #005bd3, 0px 0px 0px 3px #fff,
    0px 0px 0px 1.5px #333;
}

#import {
  padding: 0.375rem 0.75rem;
  margin-left: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  background: transparent;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 0px 0px;
  color: #323232;
  border: 0;
  cursor: pointer;
}

#import:hover {
  background: #e7e7e7;
}

#import:active {
  background: #e0e0e0;
}

#import:focus {
  background: #fff;
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #fff,
    0px -1px 0px 0px #b5b5b5 inset;
}

/* PROFILE MODAL */
.profile-modal {
  background: #fff;
  position: absolute;
  right: 1rem;
  top: 4rem;
  width: 20rem;
  padding: 0.375rem 0rem;
  border-radius: 0.875rem;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  /* display: none; */
}

#profile {
  padding: 0rem 0.375rem;
}

#profile div {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.3rem 0.2rem 0.1rem;
  border-radius: 0.5rem;
  background: #f1f1f1;
  /* border-radius: 0.875rem; */
}

#merchant-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#merchant-name {
  font-size: 0.8125rem;
  font-weight: 600;
}

#check {
  margin-top: 0.56rem;
}

#options {
  padding: 0.375rem;
}

#options a {
  text-decoration: none;
  width: 18rem;
}

#options a:hover {
  border-radius: 0.5rem;
  background: #f1f1f1;
}

#options a:active {
  border-radius: 0.5rem;
  background: #f0f0f0;
}

#options a:focus {
  border-radius: 0.5rem;
  border: 2px solid #005bd3;
}

#all-store {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-self: stretch;
  padding: 0.375rem;
  text-decoration: none;
  font-size: 0.8125rem;
  color: #303030;
  /* border-bottom: 1px solid #e1e1e1; */
}

#second-option {
  padding: 0.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 0.5rem;
}

#second-option a {
  padding: 0.375rem;
  color: #303030;
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  align-items: stretch;
  gap: 0.5rem;
}

#third-option {
  display: flex;
  padding: 0.8rem;
  flex-direction: column;
}

#name {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #303030;
}

#email {
  font-size: 0.75rem;
}

#fourth-option {
  display: flex;
  flex-direction: column;
}

#fourth-option a {
  padding: 0.5rem 0.8rem;
  font-size: 0.8125rem;
  color: #303030;
  width: 18rem;
}

/* Alert Modal */

.alert-container {
  position: absolute;
  right: 1rem;
  top: 4rem;
  /* display: none; */
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.875rem;
  border: 1px solid #dbdbdb;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  /* display: none; */
}

#alert-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#alert-header p {
  font-size: 0.875rem;
  font-weight: 600;
}

#alert-header #icons {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

#alert-header button {
  background: transparent;
  border: none;
  cursor: pointer;
}

#header-text {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 0.5rem;
  background: #f1f1f1;
  font-size: 0.8125rem;
  font-weight: 600;
}

.show {
  display: block;
}

.highlight {
  background: #f3f3f3;
}

/* .product-text,
.product-img,
.domain-text,
.domain-img,
.store-text,
.store-img,
.provider-text,
.provider-img {
  display: none;
} */

.radio {
  cursor: pointer;
}

.radio:hover {
}

.rotating-input {
  width: 1rem;
  height: 1rem;
  /* background: orange; */
  border-radius: 50%;
  border: 3px solid #8a8a8a;
  /* border-top-color: transparent;
  animation: rotation 1s linear 1s; */
  /* display: none; */
  cursor: pointer;
}

.checkmark {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  cursor: pointer;
  z-index: 1000;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 750px) {
  #logo {
    display: none;
  }

  #responsive-logo {
    display: block;
  }

  input[type="search"] {
    width: 15rem;
  }

  #davii {
    display: none;
  }

  #merchant-container {
    /* padding-left: 0.5rem; */
    /* width: ; */
  }

  #merchant-option {
    display: flex;
    gap: 0.5rem;
  }

  main {
    display: block;
  }

  .main-container {
    width: 100%;
  }

  #plan {
    /* width: 43.7rem; */
    border-radius: 0;
  }

  #guide {
    /* width: 30rem; */
    /* background: red; */
  }

  .container {
    border-radius: 0;
    /* width: 50rem; */
  }

  .setup-image {
    display: none;
  }

  .setup-text {
    width: 22rem;
  }
}
